@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

body {
  background-color: rgb(30, 30, 30);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

h1, h2 {
  font-family: 'Baloo 2';
}

strong {
  color: yellow;
}

#selfie {
  width: 200px;
  border-radius: 50%;
}

.card {
  background-color: black;
  border-radius: 15px;
  border: 1px solid whitesmoke;
  margin: 0 auto 20px;
  width: 900px;
  padding: 30px;
}

.fas {
  color: red;
}

.dev > ul > li {
  list-style-type: square;
}

.netflix > ol > li {
  margin: 0 0 10px 0;
}

#left {
  width: 200px;
  float: left;
  padding-top: 20px;
}

#right {
  width: 680px;
  float: left; 
  padding-left: 20px;
}

.clear {
  clear: left;
}

#btn-purple {
    text-decoration: none;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    transition: all 0.4s ease-in-out;
    background-color: white;
    display: inline-block;
    width: 130px;
    margin: 10px 0 10px calc(50% - 70px);
    padding: 5px;
    border: 1px solid blueviolet;
    border-radius: 20px;
    position: relative;
}

#btn-purple:hover {
  color: black;
  background-color: thistle;
}

#btn-purple::before {
  opacity: 0.6;
  width: 100%;
}

#btn-purple::before {
  transition: all 0.5s ease;
  content: "";
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  background-color:blueviolet;
  opacity: 0.3;
}

#btn-purple:hover::before {
  opacity: 0.6;
  width: 100%;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .card {
    width: 600px;
    padding: 30px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .card {
    width: 500px;
    padding: 20px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .card {
    width: 300px;
    padding: 20px;
  }
  #selfie {
    width: 80px;
    margin-left: calc(50% - 40px);
  }
  #left {
    float: none;
    width: 260px;
  }
  h1 {
    font-size: 24px;
  }
  #right {
      float: none;
      width: 260px;
  }
}
